{% extends "shop_front/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<style>
	table {
		font-family: arial, sans-serif;
		border-collapse; collapse;
		width: 100%;
	}
	td, th{
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #dddddd;
	}
	</style>
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
	<h5>Food listing</h5>
	<table style="width: 100%">
		<tr>
			<th>Index</th>
			<th>Name</th>
			<th>Quanity</th>
			<th>Ticket_Cost</th>

		</tr>
	{% for food in my_orders %}
		<tr>
			<th>{{ food.id }}</th>
			<th>{{ food.name }}</th>
			<th>{{ food.quanity }}</th>
			<th>{{ food.ticket }}</th>

		</tr>
	{% endfor %}
	</table>
    </div>
{% endblock content %}