{% extends "shop_front/base.html" %}

{% block content %}
<style>
    .container_ {
    align-content: right;
    padding: 20px 25px;
  }
  .pad_ {
    padding: 0px 10px;
  }
</style>


 <section>
   <div class="row">
    <table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th>Quantity</th>
        <th>Item</th>
        <th>Tickets</th>
      </tr>
      {% for item in order %}
        <tr>
          <td><a href="{% url 'shopping_cart:manipulate_quantity' item.id 'down' %}" ><i class="fas fa-minus pad_"></i></a>  {{ item.quantity }} 
          <a href="{% url 'shopping_cart:manipulate_quantity' item.id 'up' %}"><i class="fas fa-plus pad_"></i></a></td>
          <td>
            {{ item.name }}
            <span class="pull-right">
              <a href="{% url 'shopping_cart:delete_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" onclick="return confirm_delete_item();">
                <i class="fas fa-trash"></i>
              </a>
            </span>
          </td>
          <td>{% widthratio item.ticket 1 item.quantity %}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan= 3> You have not added any items yet.</td>
        </tr>
      {% endfor %}
      <tr>
        {% if order != None %}
        <td colspan=2>
          <strong class="pull-right">Order Total:</strong>
        </td>
        
        <td colspan= 1>
          <strong>{{ total }}</strong>
        </td>
        {% endif %}
      </tr>

      <tr>
        <td colspan=1 >
          <a href="{% url 'shop_front:shop_front-home' %}" class="btn btn-warning pull-left">
            {% if order %}Resume Order{% else %}Add Items to Cart {% endif %}
          </a> 
        </td>
       <td colspan=2>
          {% if order %}
            <a href="{% url 'shopping_cart:transaction' %}" class="pull-right btn btn-primary">Proceed To Checkout</a>
          {% endif %}
        </td>
      </tr>
    </table>
     
   </div>
   {% if order %}
    <!-- add functionality to only display button when cart contains items -->
    <a class="btn btn-primary" onclick="return confirm_delete_cart()" href="{% url 'shopping_cart:delete_cart' %}">Delete Cart</a>
    {% endif %}
  </section>

  <script>
  function confirm_delete_item(){
    return confirm("Do you want to remove this item from cart?");
  }
  function confirm_delete_cart(){
    return confirm("Do you want to remove all items from cart?");
  }
  </script>

{% endblock content %}