
{% extends "shop_front/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
	<div class="col-md-8">
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">
						{% if form.instance.pk %}
							<i class="fas fa-edit"></i> Edit Food Item
						{% else %}
							<i class="fas fa-plus"></i> Add New Food Item
						{% endif %}
					</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-success" type="submit">
						{% if form.instance.pk %}
							<i class="fas fa-save"></i> Update Item
						{% else %}
							<i class="fas fa-plus"></i> Add Item
						{% endif %}
					</button>
					<a href="{% url 'shop_front:shop_front-home' %}" class="btn btn-secondary">
						<i class="fas fa-arrow-left"></i> Cancel
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}